SMTP_HOST=smtp.some_server.com
SMTP_FROM=user@gmail.com
SMTP_PASSWORD=<password>
SMTP_PORT=587
PORT=4000
IS_PROD=false
LOG_FILE=./path.to.log.file
API_KEY=7d4c144301af71a908e50a263437f2968e5955e980cdeb5f83310b7d85c9c60d
